@import 'tailwindcss';

@theme {
  --color-accent: #075985;
  --color-primary: #1e3a8a;
}

:root {
  --bg: #f8fafc;
  --card: #ffffff;
}

html,
body,
#root {
  height: 100%;
}
body {
  @apply bg-gray-50 text-gray-900;
}
